* {
  all: unset;
  min-height: 0;
  font-family: "Montserrat Bold";
  font-size: @fontSize@;
}

// Tooltips/submenus
tooltip,
.menu,
.systray > widget > window > menu {
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 8px;
  padding: 2px 0;
  border: 1px solid rgba(255, 255, 255, 0.5);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.tooltip-item,
.systray > widget > window >menu > menuitem {

  padding: 2px 6px;
}

.tooltip-item:hover,
.systray > widget > window > menu > menuitem:hover {
  background-color: rgba(255,255,255,0.05);
}

.audio-sink-button-active {
  font-weight: bold;
}

// Workspaces
.workspace-button.active {
  font-weight: bold;
}

// Active Window
.active-window > label {
  font-size: 13px;
}


// General bottom bar styles
.bottom > * {
  margin: 0.3em 0;
}

.bluetooth-icon, .network-icon, .battery-icon {
  font-size: 1.4em;
}

.battery-percentage > label,
.volume-percentage > label {
  font-size: 0.6em;
  font-weight: bold;
  font-stretch: condensed;
}

.ptt-status {
  margin: 0.2em 0;
}

.ptt-status.ptt-on { color: #a6e3a1; }
.ptt-status.ptt-off { color: #f38ba8; }

.ptt-label {
  font-size: 0.6em;
}

.ptt-value {
  font-size: 0.55em;
  font-weight: bold;
}

// Systray {
.systray > widget > image {
  margin: 0.4em 0;
}

// Bluetooth
.bluetooth-count {
  font-size: 0.7em;
}

// Battery
.battery-icon > label {
  font-size: 1.3em;
}

// Audio
.cava {
  padding-left: 0.3em;
}

// Clock
.clock-hour > label,
.clock-minute > label {
  font-size: 1.2em;
  font-weight: bold;
  margin: -2px 0;
}

.clock-ampm > label {
  font-size: 0.65em;
  margin-left: 8px;
  margin-top: -2px;
}

.clock-date > label {
  font-size: 0.65em;
  margin: 2px 0 0 0;
}
